html {
  background-color: rgb(247, 244, 244);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro {
  color: rgb(1, 1, 8);
  text-align: center;
  margin: 0 auto;

}

.intro h1 {
  font-size: 4em;
  display: inline-block;
  margin: 80px 10px 80px 10px;
  padding: 0 30px;
}

.intro p {
  width: 55%;
  text-align: left;
  margin: 0 auto 20px auto;
  font-size: 1.6em;
  display: block;
  padding: 0;
  text-indent: 1em;
}

.build {
  text-decoration: underline;
  font-size: 1.7em;
}

body {
  margin: 0;
  padding: 0;
}

.Navbar {
  display: flex;
  align-items: center;
  background-color: #020202;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 0px 10px 25px black;
}

.Navbar img {
  height: 90px;
  width: auto;
  margin-left: 50px;
  padding: 30px;
}

.Navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: white;
}

.Navbar li {
  display: inline-block;
  text-align: center;
}

.Navbar li a {
  text-decoration: none;
  color: #e4d9d9;
  font-weight: bold;
}

.Navbar li a:hover {
  color: #5ebeb2fd;
}


.wallet {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the buttons */
}

.wallet button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #5ebeb2fd;
  box-shadow: 5px 5px 10px #8fb3aefd;
  border: 1px solid rgb(143, 245, 223);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 70px;
  width: 180px;
  font-size: 1.8em;
  margin-right: 10px;
}

.wallet button:hover {
  background-color: #45a29e;
}